<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="Blackjack - ">
      <%= assigns[:page_title] || "Blackjack" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link
      rel="icon"
      href="https://assets.ctfassets.net/sm166qdr1jca/2FyqNQVf20uKZmTUET6rsq/6672b524e82f27c8d15139ce233143ed/favicon.ico"
    />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <%= @inner_content %>
  </body>
</html>
