<div>
  <h3><%= @game_state.dealer_count %></h3>
  <div class="flex" id="dealer-cards">
    <img
      :for={card <- @game_state.dealer_cards}
      class="h-52"
      src={"/images/cards/#{card}.png"}
      alt=""
    />
  </div>
</div>
<div>
  <h3><%= @game_state.player_count %></h3>
  <div class="flex" id="player-cards">
    <img
      :for={card <- @game_state.player_cards}
      class="h-52"
      src={"/images/cards/#{card}.png"}
      alt=""
    />
  </div>
</div>
