@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
html {
  background-color: #0a4720;
}
.game-option-btn {
  background-color: green;
  padding: 10px 15px;
  border: 3px solid white;
  border-radius: 15px;
}
.game-option-btn-fade {
  /* background-color: rgba(4, 147, 4, 0.537); */
  background-color: green;
  opacity: 60%;
  padding: 10px 15px;
  border: 3px solid white;
  border-radius: 15px;
  cursor: default;
}
#player-cards > div:nth-child(2) {
  margin-bottom: 10px;
}
#player-cards > div:nth-child(3) {
  margin-bottom: 20px;
}
#player-cards > div:nth-child(4) {
  margin-bottom: 30px;
}
#player-cards > div:nth-child(5) {
  margin-bottom: 20px;
}
#player-cards > div:nth-child(6) {
  margin-bottom: 10px;
}
#bet-chips > div:hover img,
#bet-chips > div:hover .add-btn {
  top: -5rem;
}
/* #bet-chips > div:hover .sub-btn {
  top: 0rem;
} */
#bet-chips .add-btn:hover {
  opacity: 50%;
  background-color: grey;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  font-size: 24px;
  font-weight: bold;
  color: darkgrey;
}
#bet-chips .sub-btn:hover {
  opacity: 50%;
  background-color: grey;
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  font-size: 24px;
  font-weight: bold;
  color: darkgrey;
}
#bet-chips .sub-btn {
  vertical-align: top;
}
.player-mini-disp > div {
  border: 3px solid white;
  width: 200px;
  height: 150px;
}
.player-mini-disp:nth-of-type(1) > div {
  transform: rotateZ(-35deg);
}
.player-mini-disp:nth-of-type(2) > div {
  transform: rotateZ(-12deg);
}
.player-mini-disp:nth-of-type(4) > div {
  transform: rotateZ(12deg);
}
.player-mini-disp:nth-of-type(5) > div {
  transform: rotateZ(35deg);
}
.player-mini-disp:nth-of-type(1) {
  margin-bottom: 120px;
}
.player-mini-disp:nth-of-type(2) {
  margin-bottom: 25px;
}
.player-mini-disp:nth-of-type(4) {
  margin-bottom: 25px;
}
.player-mini-disp:nth-of-type(5) {
  margin-bottom: 120px;
}
main {
  height: calc(100vh - 250px);
}
#table-page {
  height: 100vh;
  background-image: url("/images/green_felt2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#dealer {
  margin-top: 100px;
}
body {
  height: 100vh;
  background-image: url("/images/card_bg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}
.welcome-message h1 {
  font-size: 60px;
}
.welcome-message p {
  font-size: 32px;
  text-align: center;
}
.welcome-message #win-msg {
  font-size: 44px;
  text-decoration: underline;
}
.welcome-message #lose-msg {
  font-size: 44px;
  color: #20693a !important;
  background-color: transparent !important;
  -ms-high-contrast-adjust: none !important;
}
#login-reg-form {
  background-image: url("/images/green_felt.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 25px;
  color: white;
  border-radius: 25px;
  border: 10px solid white;
  min-width: 410px;
}
#login-reg-form .header-msg {
  font-size: 24px;
}
.play-btn > p > span {
  transition: margin-left 0.3s ease, transform 0.3s ease;
  margin-left: 0px;
}
.play-btn:hover > p > span {
  margin-left: 15px;
}
.play-btn > span {
  margin-left: 15px;
}
.play-btn > p {
  width: 30px;
  display: inline-block;
}
/* .forgot-password #login-reg-form {
  visibility: hidden;
} */
#dealer-deck {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 50px;
  background: url("/images/cards/BACK.png") no-repeat center/cover;
  transform: translate(-50%, -50%); /* Center the deck */
}

.other-player-cards > div img {
  top: 10%;
  left: 10%;
  position: absolute;
}

/* .other-player-cards > div:nth-of-type(5) {
    top: 10%;
    right: 10%;
    position: absolute;
  } */

.move-card {
  width: 35px;
  height: 50px;
  position: absolute;
  top: 0; /* Final position in parent div */
  left: 0;
  /* opacity: 0; Initially invisible */
  transform-origin: center; /* Center of the card is used for scaling */
}

@keyframes deal-from-dealer1 {
  0% {
    opacity: 0;
    transform: translate(-300, -300); /* Shrink and pull to the dealer's deck */
  }
  20% {
    opacity: 1; /* Make the card visible */
  }
  100% {
    transform: translate(0, 0); /* Final position (reset transformation) */
  }
}

@keyframes deal-from-dealer5 {
  0% {
    opacity: 0;
    transform: translate(300, 300); /* Shrink and pull to the dealer's deck */
  }
  20% {
    opacity: 1; /* Make the card visible */
  }
  100% {
    transform: translate(0, 0); /* Final position (reset transformation) */
  }
}

/* Dealing to player 1 */
.other-player-cards > div > img {
  animation: deal-from-dealer1 2s ease-in-out forwards;
  transform: translate(300px, 300px);
  /* Start at dealer's deck (relative to player) */
}
/* Dealing to player 2 */
/* .other-player-cards > div:nth-of-type(5) > img {
  animation: deal-from-dealer 1s ease-in-out forwards;
} */

/* transform: translate(-300px, 300px) scale(0.5); Start at dealer's deck (relative to player) */
#pick-a-seat > button {
  z-index: 20;
}

.timer {
  position: absolute;
  bottom: 150px;
  left: 50px;
}
.timer2 {
  position: absolute;
  bottom: 150px;
  left: 50px;
}
